{% extends 'base.html.twig' %}

{% block title %}Edit Invoice{% endblock %}

{% block body %}
    <h1>Edit Invoice</h1>

    {{ include('invoice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_invoice_index') }}">back to list</a>

    {{ include('invoice/_delete_form.html.twig') }}
{% endblock %}
